html {
  background-color:#fdf6e3;
}

header,footer {
  font-size: 1.5rem;
}

ul {
  font-family: sans-serif;
}
.logo {
  text-transform: uppercase;
}
.wrapper {
  background-color: #eee8d5;
}
#contents,#favs, #facts {
  color: #93a1a1;
}
.wrapper>.dfn {
  background-color: #b58900;
}

p+strong {
  color: #fff;
}

html body header nav ul li mark {
  background-color: #719e07;
}

a: rel=external{
  background-color: #2694d8;
}


img {
  width: 100%;
}

h2 {
  color:#5d8432;
  text-transform: uppercase;
}

figcaption {
  text-align: center;
  font-size: .8rem;
  font-style: italic;
}

a {
  color:#793284;
}

a:hover {
  color:#b42885;
}

.dino {
  font-size: 1rem;
}
